<div class = "center">
	<h1>Emma Laroche</h1>
	<!-- <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10152015_10101303237274195_8292944916932126896_n.jpg?oh=3eb46ebbed42711fb9f1f262c44faadb&oe=54FEE75C&__gda__=1425818889_c879d3f794f928ac5753c5fd7c445728"> -->
	<img class = "emma" src="/assets/emma.png" />
	<h2>Maker Square Graduate</h2>
	<span class = "makersquare"><p>MakerSquare is a highly selective school that trains qualified professionals to be software developers through an in-person, ten week, immersive bootcamp.</p>

	<p>Students worked 60 hour weeks learning to build applications using Ruby, Rails, JavaScript, HTML5/CSS3, and responsive front-end frameworks including Foundation and Bootstrap.</p></span>

	<h1>Technology and Skills</h1>
	<span><p>Server-side: Ruby on Rails, Drupal, Drush, basic PHP, Git, GitHub, and BitBucket
	Client-side: basic jQuery and JavaScript, CSS3, and 	HTML5</p></span>

	<h3>About Me</h3>
	<span><p>I am a yoga enthusiast and dog-lover who can often be found wandering the park near Shoal Creek or  coding in local coffee shops around Austin, Texas.</p></span>
	<address>
		<h2>Check out my <a href="https://recruit.makersquare.com/?v=elaroche3">Maker Square Profile</a></h2>
		<h2>Contact me at:</h2>
		<img src="http://www.livingsnoqualmie.com/wp-content/uploads/2014/10/letter1.gif" />
		<h2 class = "email"><a href="mailto:E.R.Laroche@gmail.com">E.R.Laroche@gmail.com</a></h2>
	<br>
		<h4>Visit my Bird Watchin App <a href="https://birdwatchin.herokuapp.com/"> My Website</a></h4>
	</address>
</div>