<div class = "center">
	<h1>Emma Laroche</h1>
	<h3>Maker Square Graduate</h3>
	<address>
		<h3>Check out my <a href="https://recruit.makersquare.com/?v=elaroche3">Maker Square Profile</a></h3>
		<h2>Contact me at: <a href="mailto:E.R.Laroche@gmail.com">E.R.Laroche@gmail.com</a></h2>
	<br>
		<h4>Visit my Bird Watchin App <a href="https://birdwatchin.herokuapp.com/"> My Website</a></h4>
		<h4>Visit <a href="http://www.erlaroche.com/"> My Website</a></h4>
	</address>
</div>