<div class = "row text center">
	<div class = "center">
		<div class="row text center">
			<div class="small-12 columns">
				<h1>Emma Laroche</h1>
			<!-- <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10152015_10101303237274195_8292944916932126896_n.jpg?oh=3eb46ebbed42711fb9f1f262c44faadb&oe=54FEE75C&__gda__=1425818889_c879d3f794f928ac5753c5fd7c445728"> -->
				<img class = "emma" src="/assets/emma.png" />
			</div>
			<div class="small-12 columns">
				<h3>Technology and Skills</h3>
				<p>Server-side: Ruby on Rails, Drupal, Drush, Git, GitHub, and BitBucket</p>
				<p>Client-side: CSS3, HTML5, basic jQuery and JavaScript</p>
			</div>
			<div class="small-6 columns">
				<h2>MakerSquare Graduate</h2>
				<h4>February 2014</h4>
				<h4><a href="https://recruit.makersquare.com/?v=elaroche3">Maker Square Profile</a></h4>
				<p>MakerSquare is a highly selective school that trains qualified professionals to be software developers through an in-person, ten week, immersive bootcamp.</p>

				<p>My classmates and I worked 60 hour weeks learning to build applications using Ruby, Rails, JavaScript, HTML5/CSS3, and responsive front-end frameworks including Foundation and Bootstrap.</p>
			</div>
			<div class="small-6 columns">
				<h2>Projects</h2>
				<div>
					<h4><a href ="https://birdwatchin.herokuapp.com/">Bird Watchin' App</a></h4>
					<p>Role: Built social media CRUD app for bird watchers to log entries regarding recent bird sightings or view featured birds using HTML5, CSS3, Foundation, SASS, and Devise for authentication</p>
					<p>Info: Functional after 30 hours of individual programming</p>
					<p>Link: <a href="https://birdwatchin.herokuapp.com/">https://birdwatchin.herokuapp.com/</a></p>
					<p>Repo: <a href="https://github.com/erlaroche/bird_watch">https://github.com/erlaroche/bird_watch</a></p>
				</div>
			</div>
		</div>

		<div class="row text center">
			<div class="small-12 columns">
				<h2>Internship at Astonish Design</h2>
				<div>
					<h4>April 2014 – August 2014</h4>
					<p>Astonish Design utilizes Agile Scrum methods to create web and mobile software for businesses while practicing outstanding client services. My junior developer position focused on learning the basics of Drupal, PHP, and SASS while working with a team to develop products that were client-specific.</p>
				</div>
			</div>	
		</div>


		<div class="row text center">
			<div class="small-12 columns">
				<h2>Technology Volunteer:</h2>
				<h3>GT and Robotics Team Itasca ISD</h3>
				<div>
					<h4>April 2014</h4>
					<p>Work with gifted/talented students and students from the robotics team grades 4th - 6th to teach basic programming skills like HTML, CSS, and JavaScript</p>
					<p>Assist in creating a coding curriculum for Itasca ISD</p>
				</div>
			</div>
		</div>

		<div class="row text center">
			<div class="small-6 columns">
				<h2>About Me</h2>
				<div>
					<p>I am a yoga enthusiast and dog-lover who can often be found wandering the park near Shoal Creek, swimming in Barton Springs, or  coding in local coffee shops around Austin, Texas.  I am a voracious reader, a passionate environmentalist, and a collector of all things shiney.</p>
				</div>
			</div>
			<div class="small-6 columns">
				<address>
					<h2>Contact me at:</h2>
					<img src="http://www.livingsnoqualmie.com/wp-content/uploads/2014/10/letter1.gif" />
					<h2 class = "email"><a href="mailto:E.R.Laroche@gmail.com">E.R.Laroche@gmail.com</a></h2>
				</address>
			</div>
		</div>
	</div>
</div>