// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: image-url('light_backround.jpg');
	font-family: Verdana;
}
.center {
	text-align: center;
	background-color: #FFFFEB;
	border: 2px solid #291400;
	border-radius: 25px;
	/*background-image: image-url('beige-textured.jpg');*/
}
h1 {
	color: #CC9900;
	text-shadow: 3px 3px black;
	font-size: 60px;
}
h2 {
	color: #CC9900;
	text-shadow: 2px 2px black;
	font-size: 40px;
	text-decoration: none;
}
h3 {
	color: #CC9900;
	text-shadow: 2px 2px black;
	font-size: 30px
}
h4 {
	color: #CC9900;
	text-shadow: 2px 2px black;
	font-size: 25px;
}
p {
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
	background-color: #d1bb98;
	border: 2px solid #291400;
	border-radius: 15px;
}
a:hover { 
    background-color: #FFFFCC;
}

 /*unvisited link*/
a:link {
    color: #663300;
}

 /*visited link */
a:visited {
    color: 	#291400;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: purple;
}

img.emma {
	border: 2px solid;
	width: 300px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

