// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-image: image-url('light_backround.jpg');
	font-family: Verdana;
	h1 {
		color: #CC9900;
		text-shadow: 3px 3px black;
		font-size: 60px;
		background-color: #d1bb98;
		border: 2px solid #291400;
		border-radius: 15px;
	}
	h2 {
		color: #CC9900;
		text-shadow: 2px 2px black;
		font-size: 40px;
		text-decoration: none;
		background-color: #d1bb98;
		border: 2px solid #291400;
		border-radius: 15px;
	}
	h3 {
		color: #CC9900;
		text-shadow: 2px 2px black;
		font-size: 30px;
		background-color: #d1bb98;
		border: 2px solid #291400;
		border-radius: 15px;
	}
	h4 {
		color: #CC9900;
		text-shadow: 2px 2px black;
		font-size: 25px;
		background-color: #d1bb98;
		border: 2px solid #291400;
		border-radius: 15px;
	}
	p {
		font-family: Verdana;
		font-size: 20px;
		text-align: center;
		background-color: #d1bb98;
		border: 2px solid #291400;
		border-radius: 15px;
	}
}
.center {
	text-align: center;
	background-color: #FFFFEB;
	border: 2px solid #291400;
	border-radius: 25px;
	/*background-image: image-url('beige-textured.jpg');*/
}

 /*unvisited link*/
a:link {
    color: #663300;
}

 /*visited link */
a:visited {
    color: 	#291400;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: purple;
}

/*	make profile pic circular, add box shadow and border*/
img.emma {
	border: 2px solid;
	height: 300px;
	border-radius: 150px;
	margin-top: 75px;
	float: center;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*make twitter image center and resize*/
img.twitter {
	height: 75px;
	margin-left: 100px;
	margin-top: 20px;
}
/*make linkedin image center and resize*/
img.linkedin {
	height: 75px;
	margin-left: -150px;
	margin-top: 10px;
	float: center;
}
/*resize email img*/
img.email {
	height: 200px;
}
/*resize email image*/
.email{
	height: 250px;
}

/*resize border on name h1*/
.border {
	margin-right: 250px;
	margin-left: -40px;
}
/*resize first div*/
div.row.text.center {
	float: center;
	height: 400px;
	width: 850px;
}
/*add parallax effect*/
.parallax {
	position: fixed;
	height: 90%;
	width: 90%;
	top: 0;
}
/*create dividing divs*/
.opacity {
	height: 500px;
	width: 450px;
}
.row {
	background-color: #FFFFCC;
}